<div class="container">
    <div class="row">
        <p>ROOM: {{movies.room}}</p><h3>{{movies.title}}</h3>
      <div class="col">
          <img src={{movies.poster}} alt="">
      </div>
      <div class="col">
          <p><b>Genres:</b> {{movies.genres}}</p>
          <p><b>Year:</b> {{movies.year}}</p>
          <p><b>Director:</b> {{movies.director}}</p>
          <p><b>Actors:</b>{{movies.actors}}</p>
          <p><b>Schedule:</b>{{movies.hours}}</p>
          <p><b>Synopsis:</b> {{movies.synopsis}}</p>
      </div>
    </div>
    <button [routerLink]="['/home']">Home</button>
  </div>
